@import "./variables.scss";

.body {
  width: 500px;
  height: 600px;
  padding: 1rem;
  margin: 0 auto;
  background: white;

  .project-description {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    max-width: 300px;
    border-radius: 0.5rem;
    background: white;
  }
}

.header {
  .logo {
    width: $logo-size;
    height: $logo-size;
  }

  .options {
    .options-button {
      color: inherit;
    }
    i {
      font-size: 1.4rem;
      margin-right: 1rem;
    }
  }

  h1 {
    color: $black-light;
  }
}

.container {
  justify-content: space-evenly;
}

.main {
  .nav-tabs {
    margin-top: 0.25rem;
    margin-bottom: 0.6rem;

    .nav-link {
      font-size: $font-size-h3;
      padding: 0.5rem 0 0.3rem 0;

      margin-right: 1rem;
      color: $black;
      text-decoration: none;
      border: 3px solid transparent;

      &:hover {
        border-color: transparent;
      }

      &.active {
        color: $black;
        border: 3px solid $primary;
        border-color: transparent transparent $primary transparent;
      }
    }
  }
}
