{
  "rules": {
    "semi": ["warn", "always"],
    "quotes": ["warn", "double"]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "browser": true
  }
}
