$theme-colors: (
  "folder-color": #1565c0,
  "engine-color": #9e9e9e,
  "search-color": #4db6ac,
  "danger": #ff3f45
);

$font-size-base: 0.8rem;
$font-size-h1: 1.5rem;
$font-size-h2: 1.25rem;
$font-size-h3: 0.9rem;

$font-weight-bold: 600;

$tags-margin: 0.3rem;

$content-px: 0.5rem;
$badge-px: 0.3rem;

$black: #3a3a3a;
$primary: #1565c0;

$card-columns-gap: 0.5rem;
$card-spacer-y: 0.5rem;
