@import "./variables.scss";

.body {
  width: 500px;
  padding: 1rem;
  margin: 1rem auto;
  background: white;
  border-radius: 0.3rem;
}

.container {
  justify-content: space-evenly;
}

.options i {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.main {
  .nav-tabs {
    .nav-link {
      color: $black;
      font-size: $font-size-h3;
      text-decoration: none;
      border: 3px solid transparent;

      &:hover {
        border-color: transparent;
      }

      &.active {
        color: $black;
        border: 3px solid $primary;
        border-color: transparent transparent $primary transparent;
      }
    }
  }
}
