.category-main {
  margin-top: 1rem;
}

.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.category-name {
  background-color: transparent;
  width: 100%;
  font-size: 1em;
  color: #011c41;
  display: block;
}

.button {
  margin: 0.5rem 0;
  width: 60px;
  height: 60px;
}

.button-delete {
  position: absolute;
  right: 5px;
  top: 5px;
}

.suggested {
  line-height: 1;
}
