.category-main {
  border: solid 1px;
  margin-top: 1rem;
}

.category {
  width: 75px;
  height: 75px;
  color: #ffffff;
  background-color: #1976d2;
  font-size: 0.9rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 0.8rem;
  line-height: 1.1;
}

.new-category .input-new-category {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
}

.btn.btn-new-category,
.btn.btn-delete {
  padding: 0;
}

.btn-new-category {
  border-radius: 5%;
}
