.collection-main {
  margin-top: 1rem;
}

.collection-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.collection-name {
  background-color: transparent;
  width: 100%;
  font-size: 1em;
  color: #011c41;
  display: block;
}

.button {
  margin: 0.5rem 0;
  width: 50px;
  height: 50px;
}

.button-delete {
  right: 5px;
  top: 5px;
}

.suggested {
  line-height: 1;
}
