.research-main {
  border-top: solid 1px;
  margin-top: 1rem;
}

research-title {
  color: rgb(15, 15, 15);
}

.engine {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.engine:active,
.engine:focus {
}

.term {
  color: #1f2421;
  background-color: #49a078;
  font-size: 0.9rem;
  line-height: 1.1;
  border-radius: 5px;
}
