.research-main {
  border: solid 1px;
  margin-top: 1rem;
}

research-title {
  color: rgb(15, 15, 15);
}

.engine {
  background-color: #216869;
}

.term {
  color: #1f2421;
  background-color: #49a078;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  line-height: 1.1;
}
