@import "./variables.scss";

.bookmark-head {
  .bookmark-head-input {
    resize: none;
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    padding: 0;
    height: unset;
    border: none;
    color: inherit !important;
    white-space: wrap;
  }
}

.list-inline-item:not(:last-child) {
  margin-right: $tags-margin !important;
}

.tag {
  margin-bottom: $tags-margin;

  &.badge {
    font-weight: 600;
    background-color: #ccc;
    color: rgba(0, 0, 0, 0.75);
    padding-left: $badge-px;
    padding-right: $badge-px;
    line-height: 1;
  }
}

.badge {
  font-size: inherit !important;
}

.new-tag {
  .input-new-tag {
    display: none;
    background-color: transparent;
    width: 80px;
    border: none;
  }
}

.btn {
  &.btn-new-tag,
  &.btn-delete {
    font-size: inherit;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
    line-height: 0;
  }
}

.btn-new-tag {
  border-radius: 50%;
}

.bookmark .more-details {
  background: none;
  border: none;
  font-weight: $font-weight-bold;
  text-decoration: underline;
}
.sentiment-section {
  .progress {
    width: 60%;
    height: 1.1rem;
    // border-radius: 0.15rem;

    .progress-bar {
      // width: 100%;
      height: 40px;
    }
  }

  .fake-coll {
    width: 50px;
    height: 50px;
  }
}
